<ion-view view-title="登录">
	<ion-content>
		<div class="bg_white">
			<div class="login-header">
			<p class="return js_returnLastPage"></p>
			<div class="loginlist">
				<img class="donghua" ng-src="https://image1.ichuanyi.cn/{{loginlist.image}}?imageMogr/v2/auto-orient/thumbnail/!290x/quality/80/"/>
				<div class="cover"></div>
			</div>
			<p class="head-logo"></p>
			<p class="head-title">手机快捷登录</p>
			<span class="dd"></span>
		</div>
		<div>
			<div class="form-wrap">
				<div class="input-wrap overflow">
					<div class="icon-wrap l">
						<span class="login-icon1 db"></span>
					</div>
					<div class="float-left l">
						<input type="text" placeholder="请输入11位手机号"/>
					</div>
				</div>
				<p class="prompt">
					未注册的手机号，将自动创建穿衣助手账号
				</p>
				<div class="input-wrap overflow">
					<div class="icon-wrap l">
						<span class="login-icon2 db"></span>
					</div>
					<div class="float-left overflow l">
						<input class="l code-text" type="text" placeholder="请输入验证码" />
						<div class="l get-code">请获取验证码</div>
					</div>
				</div>
				<button class="button button-block btn" type="submit">登录</button>
			</div>
			<div class="login">
				<div class="overflow">
					<div class="l line"></div>
					<div class="texts l">其他登录方式</div>
					<div class="l line"></div>
				</div>
				<div class="td-wrap">
					<a href="" class="weibo l"></a>
					<a href="" class="qq l"></a>
				</div>
			</div>
		</div>
		</div>
	</ion-content>
</ion-view>
